POSTGRES_USER=admin
POSTGRES_PASSWORD=change_me
POSTGRES_DB=num_lost_found

AUTH_SERVICE_PORT=8081
ITEM_SERVICE_PORT=8082
MATCHING_SERVICE_PORT=8083
CLAIM_SERVICE_PORT=8084
GATEWAY_PORT=8080
FRONTEND_PORT=3000
